<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"  />
		<!-- Google's Open Sans -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<script src="jquery-js" th:each="hrf : ${bundles.get('jquery-js')}" type="text/javascript" th:src="@{ ${hrf} }"></script>
		<script src="jquery-ui-js" th:each="hrf : ${bundles.get('jquery-js')}" type="text/javascript" th:src="@{ ${hrf} }"></script>
		<link href="jquery-ui-css" th:each="hrf : ${bundles.get('jquery-ui-css')}" type="text/css" rel="stylesheet" th:href="@{ ${hrf} }" />
		<script src="bootstrap-js" th:each="hrf : ${bundles.get('bootstrap-js')}" type="text/javascript" th:src="@{ ${hrf} }"></script>
		<link href="bootstrap-css" th:each="hrf : ${bundles.get('bootstrap-css')}" type="text/css" rel="stylesheet" th:href="@{ ${hrf} }" />
		<script src="main-js" th:each="hrf : ${bundles.get('main-js')}" type="text/javascript" th:src="@{ ${hrf} }"></script>
		<link href="main-css" th:each="hrf : ${bundles.get('main-css')}" type="text/css" rel="stylesheet" th:href="@{ ${hrf} }" />

		<title>Welcome to Skroom</title>
	</head>
	<body>
		
		<div class="login-form" th:classappend="${(loginError != null) ? withmessage : ''}">
            <div class="center"><img th:src="@{/resources/img/logo-panel.png}" style="margin-left: -58px;" /></div>
			<form action="login" method="post">
				<h3>Username or email</h3>
				<input type="text" name="name" />
				<h3>Password</h3>
				<input type="password" name="password" />
				<input class="btn btn-sm btn-accent green" th:classappend="${!canAnonymousCreateAccount} ? noallow : ''" type="submit" value="Sign in" />
			</form>

			<a href="signup" th:if="${canAnonymousCreateAccount}"><button class="btn btn-sm btn-accent">Sign up</button></a>
			<span class="login-error" th:text="${loginError}" th:if="${loginError != null}"></span>
		</div>
	</body>
</html>
