.onerow {
	clear: both;
	overflow-x: scroll;
	overflow-y: hidden;
}

#taskBoard th {
	/*border-bottom: 1px solid black;*/
	text-align: center;
	text-transform: uppercase;
}

#taskBoard td {
	min-width: 272px;
}

.kanban-column {
	float: left;
	margin: 0;
	height: 98vh;
	width: 300px;
	border-right: 1px solid black;
	font-family: 'ArchitectsDaughter';
}

.kanban-column:last-child {
	border-right: 0;
	float: left;
}

.taskItem {
	margin: 10px;
	padding: 10px;
	list-style-type: none;
	border: 1px #ddd solid;
	border-bottom: 3px #444 solid;
	width: 272px;
	position: relative;
	background-color: #FDF27E;
	padding: 10px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.taskName {
	/*background-color: #6F6712;
	//color: white; */
	margin: -10px -10px 2px -10px;
	padding: 2px 10px;
	font-weight: bold;
}

#taskBoard>div.highlight {
	background-color: #edf570;
}
