.user-story-row {
    background-color: white;
    border-left: 3px solid black;
}

.user-story-form {
    display: none;
}

.user-story-body .management-bar,
.user-story-form .management-bar {
    margin-bottom: 10px;
}

.user-story-body .big-text-no-margin {
    font-size: 16pt;
    font-weight: bold;
}

.sprints-calendar-container {
    width: 60%;
}

.fc-left h2 {
    font-size: 18pt;
}