.user-story-row {
    background-color: white;
    border-left: 3px solid black;
}

.user-story-round-text {
    color: white;
    background-color: dimgray;
    border-radius: 20px;
    padding: 3px 10px;
}

.user-story-form .form-control,
.user-story-form .input-group {
    margin-bottom: 5px;
}

.user-story-form .input-group .form-control {
    margin: 0;
}