@font-face {
	font-family: 'Entypo';
	src: url('/../../font/Entypo.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* --------- GLACIAL INDIFFERENCE FONT --------- */
/* ---------- by Alfredo Marco Pradil ---------- */
/* ---------- License: SIL Open Font License ---------- */
/* ---------- License URL: http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL ---------- */

@font-face {
	font-family: 'Glacial';
	src: url('../../font/GlacialIndifference-Regular.otf') format('truetype');
}

@font-face {
	font-family: 'Glacial';
	src: url('../../font/GlacialIndifference-Bold.otf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Glacial';
	src: url('../../font/GlacialIndifference-Italic.otf') format('truetype');
	font-style: italic;
}

/* --------- ARCHITECTS DAUGHTER FONT --------- */
/* ---------- by ArchitectsDaughter ---------- */
/* ---------- License: SIL Open Font License ---------- */
/* ---------- License URL: http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL ---------- */

@font-face {
	font-family: 'ArchitectsDaughter';
	src: url('../../font/ArchitectsDaughter.ttf') format('truetype');
}

/* ---------------- ORKNEY FONT ---------------- */
/* -- by Samuel Oakes and Alfredo Marco Pradil - */
/* ---------- License: SIL Open Font License ---------- */
/* ---------- License URL: http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL ---------- */

@font-face {
	font-family: 'Orkney';
	src: url('../../font/Orkney-Light.otf') format('truetype');
}

@font-face {
	font-family: 'Orkney';
	src: url('../../font/Orkney-Bold.otf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Orkney';
	src: url('../../font/Orkney-Italic.otf') format('truetype');
	font-style: italic;
}

body {
	font-size: .85em;
	font-family: 'Glacial';
	color: #232323;
	background-color: #E9E6C9;
}

header, footer, nav, section {
	display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}

/* Global styles
-----------------------------------------------------------*/

#page-content {
    font-size: 11pt;
	/* overflow: scroll; */
}

.management-bar {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    width: 100%;
    height: 35px;
}

.management-bar .bar-text {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: -1px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.management-bar .btn {
    background-color: rgba(0,0,0,0);
    height: 100%;
    margin-bottom: -1px !important;
}

.management-bar .btn:hover {
    background-color: rgba(100, 100, 100, 0.8);
    color: white;
}

.management-bar .btn.green {
    background-color: #aed581;
}

.management-bar .btn.green:hover {
    background-color: #8bc34a;
    color: black;
}

.management-bar .btn.red {
	background-color: #ff8566;
}

.management-bar .btn.red:hover {
    background-color: #ff3300;
    color: black;
}

.management-bar a.btn {
	color: black;
}

.skroom-form .form-control,
.skroom-form .input-group {
    margin-bottom: 5px;
}

.skroom-form .input-group .form-control {
    margin: 0;
}

.round-table-label {
    color: white;
    background-color: dimgray;
    border-radius: 20px;
    padding: 3px 10px;
}

table.striped tr:nth-child(even) {
    background-color: #E9E2D9;
}

table.striped tr:nth-child(odd) {
    background-color: #E9E6E0;
}

table.striped tr {
    border: 0 solid lightgray;
    border-bottom-width: 1px;
}

table.striped {
    border: 1px solid lightgray;
}