@font-face {
	font-family: 'Entypo';
	src: url('/../../font/Entypo.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* --------- GLACIAL INDIFFERENCE FONT --------- */
/* ---------- by Alfredo Marco Pradil ---------- */

@font-face {
	font-family: 'Glacial';
	src: url('../../font/GlacialIndifference-Regular.otf') format('truetype');
}

@font-face {
	font-family: 'Glacial';
	src: url('../../font/GlacialIndifference-Bold.otf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Glacial';
	src: url('../../font/GlacialIndifference-Italic.otf') format('truetype');
	font-style: italic;
}

/* ---------------- ORKNEY FONT ---------------- */
/* -- by Samuel Oakes and Alfredo Marco Pradil - */

@font-face {
	font-family: 'Orkney';
	src: url('../../font/Orkney-Light.otf') format('truetype');
}

@font-face {
	font-family: 'Orkney';
	src: url('../../font/Orkney-Bold.otf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Orkney';
	src: url('../../font/Orkney-Italic.otf') format('truetype');
	font-style: italic;
}

body {
	font-size: .85em;
	font-family: 'Glacial';
	color: #232323;
	background-color: #E9E6C9;
}

header, footer, nav, section {
	display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}
